body {
    background-color:black;
    margin:0px;
}
div {
    border:20px solid red;
    width:800px;
    height:400px;
    margin:auto;
    background-color:rgb(45, 45, 77);
}
#snake {
    position:absolute;
}
#object {
    position:absolute;
}
h1 {
    color:white;
    text-align:center;
}
#lifeCount {
    color:red;
}